{% extends "layouts/page.html" %}
{% block content %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>VERA_MOLNAR</title>
    <script src="http://artdelicorp.com/sfpc/veramolnar/p5.js" type="text/javascript"></script>


    <script src="http://artdelicorp.com/sfpc/veramolnar/sketch.js" type="text/javascript"></script>
    <script src="http://artdelicorp.com/sfpc/veramolnar/particle.js" type="text/javascript"></script>

    <style> body {padding: 0; margin: 0;} canvas {vertical-align: top;} </style>
  </head>
  <body>
  </body>
</html>
{% endblock %}